/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 50px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #ffffff;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin: auto;
    padding-right: 2rem;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 30rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    right: 0;
    top: 11rem;
    border: 2px rgb(90, 73, 60) solid;
    border-right: none;
    text-align: center;
  }

  @media only screen and (max-width: 768px) {
    
    .dropdown-content {
      top: 22rem;
      width: 100%;
      border: 2px rgb(90, 73, 60) solid;
    }

  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}