/* Remove all of the default padding */
* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0;     
    box-sizing: border-box;

    --textcolour: rgb(24, 24, 24);
    --secondarycolour: rgb(90, 73, 60);

    font-family: 'Lora', serif;
}

/* Remove default hyperlink styling */
a {
    color: var(--textcolour);
    text-decoration: none;
}

/* Set page background */
body {
    background-image: linear-gradient(rgba(255,255,255,0.65), rgba(255,255,255,0.65)), url("../background.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    height: 10rem;
    padding: 10px;
    padding-left: 30px;
    float: left;
    z-index: 1;
}

.cont-padding-y {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.cont-padding-x {
    padding-left: 20%;
    padding-right: 20%;
}

.profile-img {
    border-radius: 200px; border: 3px var(--secondarycolour) solid;
    box-shadow: var(--secondarycolour) 0 0 15px;
    margin-bottom: 10px;
    height: 200px;
}

.profile-text {
    margin-bottom: 20px;
}

.header {
    height: 10rem;
    line-height: 10rem;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.border-bottom {
    border-bottom: 4px var(--secondarycolour) solid;
}

.border-top {
    border-top: 4px var(--secondarycolour) solid;
}

.bg-fill {
    background: white;
    color: black;
}

.bg-fill-shadow {
    box-shadow: 0px 10px 50px var(--secondarycolour), 0px -10px 50px var(--secondarycolour);
}

.text-center {
    text-align: center;
}


.footer-padding {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}