/* Remove all of the default padding */
* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0;     
    box-sizing: border-box;

    --textcolour: rgb(24, 24, 24);
    --secondarycolour: #cb9b51;

    font-family: 'Oswald', serif;
}

html, body {
    height: 100%;
}

/* Remove default hyperlink styling */
a, a:hover, a:visited, a:focus {
    color: var(--textcolour);
    text-decoration: none;
}

a.gold, a.gold:hover, a.gold:visited, a.gold:focus {
    color: var(--secondarycolour);
    text-decoration: none;
}


/* Set page background */
.background {
    background-image: linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url("../assets/Clinic\ Front\ Full.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -2;

    filter: blur(2px);

    height: 100vh;
    width: 100vw;

    position:fixed;

}

.logo {
    height: 10rem;
    padding: 10px;
    padding-left: 30px;
    float: left;
    z-index: 1;
}

.navlist li {
    display: inline;
}

.cont-padding-y {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.cont-padding-x {
    padding-left: 20%;
    padding-right: 20%;
}

.profile-img {
    border-radius: 200px; border: 3px var(--secondarycolour) solid;
    box-shadow: var(--secondarycolour) 0 0 15px;
    margin-bottom: 10px;
    height: 200px;
}

.title-padding {
    height: 100vh;
}

.sub-text {
    font-size: 2.5rem;
}

.top-padding {
    padding-top: 150px;
}

.text-outline {
    
}

.gold {
    color: rgb(241, 171, 65)
}

.gold {
    color: rgb(241, 171, 65)
}

.title-text {
    padding-top: 20%;
    font-size: 5rem;
    font-weight: 700;
}

.profile-title {
    font-size: 1.5rem;
}

.profile-text {
    margin-bottom: 20px;
}

.text-white {
    color: white;
}

.header {
    height: 10rem;
    line-height: 10rem;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.border-bottom {
    border-bottom: 4px var(--secondarycolour) solid;
}

.border-top {
    border-top: 4px var(--secondarycolour) solid;
}

.bg-fill {
    background: white;
    color: black;
}

.bg-fill-shadow {
    box-shadow: 0px 10px 25px var(--secondarycolour), 0px -10px 25px var(--secondarycolour);
}

.text-center {
    text-align: center;
}

.footer-padding {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.footer-positioning {
    position: relative;
    margin-top: -74px; /* negative value of footer height */
    clear:both;
}

.wrapper {
    min-height: 100%;
}

main {
    overflow:auto;
}

.title {
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 1rem;
    }

    .logo {
        height: 10rem;
        padding: 10px;
        padding-left: 30px;
    }
}