/* Remove all of the default padding */
* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0;     
    box-sizing: border-box;

    --textcolour: rgb(24, 24, 24);
    --secondarycolour: rgb(90, 73, 60);

    font-family: 'Lora', serif;
}

body, html {
    height: 100%;
    margin: 0;
}

html {
    background-image: linear-gradient(rgba(255,255,255,0.65), rgba(255,255,255,0.65)), url("../background.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-center {
    text-align: center;
}

.center-card {
    margin: auto;
}

.container {
    height: 25rem;
    border-bottom: 4px var(--secondarycolour) solid;
    color: var(--textcolour);
    padding-left: 22%;
    padding-right: 22%;
    display: flex;
    justify-content: center;
}

.wide {
    padding-left: 15%;
    padding-right: 15%;
}

header {
    height: 7rem;
    border-bottom: 8px var(--secondarycolour) solid;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

footer {
    height: 7rem;
    border-top: 4px var(--secondarycolour) solid;
}

.bg-fill {
    background: white;
    color: black;
    box-shadow: 0px 10px 50px var(--secondarycolour), 0px -10px 50px var(--secondarycolour);
}

.book-card {
    display: flex;
    justify-content: space-around;
    justify-content: center;
}

.book-card img {
    width: 250px;
    margin: auto;
    box-shadow: 5px 5px 10px var(--secondarycolour);
    border-radius: 5px;
    transition: all 0.25s;
}

.book {
    position: relative;
    text-align: center;
    color: white;
}

.book-text {
    color: rgba(255, 255, 255, 0);
    transition: all 0.25s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: auto;
}

.book-text {
    pointer-events: none;
}

.book-card img:hover ~ .book-text {
    color: white;
}

.book-card img:hover {
    transform: scale(1.05);
    filter: brightness(25%);
}

.book-card > div {
    margin: auto;
    margin-left: 150px;
    margin-right: 150px;
}

.logo {
    float: left;
    height: 100%;
    padding: 10px;
    padding-left: 30px;
}

.profile-card {
    height: 50%;
    width: 50%;
    margin: auto;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding: 0px 30px 0px 30px;
}

.profile-card * {
   margin: 0px 10px 10px 10px;
}

.profile-card > img {
    border-radius: 200px; border: 3px var(--secondarycolour) solid;
    box-shadow: var(--secondarycolour) 0 0 15px;
    height: 12rem;
    float: left;
}
